<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
   <typeAliases>
   
       <typeAlias type="java.lang.String" alias="String"/>
       <typeAlias type="java.util.List" alias="List" />
	   <typeAlias type="java.util.Map" alias="Map" />
		

	   <typeAlias type="com.ham.len.humanresource.HumanResourceVO" alias="HumanResourceVO" />
	   <typeAlias type="com.ham.len.humanresource.HumanResourceExcelVO" alias="HumanResourceExcelVO" />
	   <typeAlias type="com.ham.len.humanresource.HumanResourcePager" alias="HumanResourcePager" />
	   <typeAlias type="com.ham.len.humanresource.AccountRoleVO" alias="AccountRoleVO" />
	   <typeAlias type="com.ham.len.attendance.AttendanceVO" alias="AttendanceVO" />
	   <typeAlias type="com.ham.len.attendance.AttendanceAccrueVO" alias="AttendanceAccrueVO" />
	   <typeAlias type="com.ham.len.transfer.TransferVO" alias="TransferVO" />
	   <typeAlias type="com.ham.len.annual.AnnualVO" alias="AnnualVO" />
	   <typeAlias type="com.ham.len.annual.AnnualLeaveOccurredHistoryVO" alias="AnnualLeaveOccurredHistoryVO" />
	   <typeAlias type="com.ham.len.annual.AnnualLeaveUsedHistoryVO" alias="AnnualLeaveUsedHistoryVO" />
	   <typeAlias type="com.ham.len.annual.AnnualExcelVO" alias="AnnualExcelVO" />
	   
	   <typeAlias type="com.ham.len.commons.CodeVO" alias="CodeVO" />
	   <typeAlias type="com.ham.len.admin.UpCodeVO" alias="UpCodeVO" />
	   <typeAlias type="com.ham.len.commons.Pager" alias="Pager" />
	   
	    <typeAlias type="com.ham.len.instrument.InstrumentVO" alias="InstrumentVO" />
	     <typeAlias type="com.ham.len.materialProduct.MaterialProductVO" alias="MaterialProductVO" />
	     <typeAlias type="com.ham.len.factoryStorage.FactoryStorageVO" alias="FactoryStorageVO" />
	   
	   <typeAlias type="com.ham.len.approval.ApprovalVO" alias="ApprovalVO"/>
       <typeAlias type="com.ham.len.admin.document.ApprovalTypeVO" alias="ApprovalTypeVO"/>
       <typeAlias type="com.ham.len.admin.document.ApprovalUpTypeVO" alias="ApprovalUpTypeVO"/>
       <typeAlias type="com.ham.len.admin.notice.NoticeVO" alias="NoticeVO"/>
       <typeAlias type="com.ham.len.admin.notice.AttachmentVO" alias="AttachmentVO"/>
       
       <typeAlias type="com.ham.len.humanresource.sign.SignatureVO" alias="SignatureVO"/>
       <typeAlias type="com.ham.len.humanresource.todolist.ToDoListVO" alias="ToDoListVO"/>
       <typeAlias type="com.ham.len.main.NotificationVO" alias="NotificationVO"/>
       

   
   <typeAlias type="com.ham.len.sales.CarReservationVO" alias="CarReservationVO"/>
   <typeAlias type="com.ham.len.sales.CarListVO" alias="CarListVO"/>
   <typeAlias type="com.ham.len.sales.SalesClientVO" alias="SalesClientVO"/>
   <typeAlias type="com.ham.len.sales.SalesPurchaseVO" alias="SalesPurchaseVO"/>
   <typeAlias type="com.ham.len.sales.AnnualAddVO" alias="AnnualAddVO"/>
   
   
   
   
       <typeAlias type="com.ham.len.sales.CarReservationVO" alias="CarReservationVO"/>
       <typeAlias type="com.ham.len.sales.CarListVO" alias="CarListVO"/>
   
   
       <typeAlias type="com.ham.len.order.OrderVO" alias="OrderVO"/>   
       <typeAlias type="com.ham.len.purchase.PurchaseVO" alias="PurchaseVO"/>
       <typeAlias type="com.ham.len.workorder.WorkOrderVO" alias="WorkOrderVO"/>
       <typeAlias type="com.ham.len.productionReceipt.ProductionReceiptVO" alias="ProductionReceiptVO"/>
   
   </typeAliases>
</configuration>