<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
   <typeAliases>
   
   <typeAlias type="java.lang.String" alias="String"/>
   

	      <typeAlias type="com.ham.len.humanresource.HumanResourceVO" alias="HumanResourceVO"/>
	   <typeAlias type="com.ham.len.attendance.AttendanceVO" alias="AttendanceVO"/>
	   <typeAlias type="com.ham.len.transfer.TransferVO" alias="TransferVO"/>
	   <typeAlias type="com.ham.len.commons.CodeVO" alias="CodeVO"/>
	   <typeAlias type="com.ham.len.commons.Pager" alias="Pager"/>
	   
	   
	   <typeAlias type="com.ham.len.approval.ApprovalVO" alias="ApprovalVO"/>

   

   <typeAlias type="com.ham.len.admin.document.ApprovalTypeVO" alias="ApprovalTypeVO"/>
   <typeAlias type="com.ham.len.admin.document.ApprovalUpTypeVO" alias="ApprovalUpTypeVO"/>
   <typeAlias type="com.ham.len.humanresource.sign.SignatureVO" alias="SignatureVO"/>
   
   
   
		<typeAlias type="java.util.List" alias="List" />
		<typeAlias type="java.util.Map" alias="Map" />
   </typeAliases>
</configuration>