@charset "UTF-8";

input[type="checkbox"]{
	vertical-align:middle;
}





#registrationForm{
    display:table;
    margin:100px auto;
}

#registrationForm > .component{
    margin-bottom:30px;
}

#registrationForm > #buttonWrap{
    width:100%;
    text-align:right;
}

.component > label{
    width:100px;
    margin-bottom:5px;
    vertical-align:middle;
    font-weight:600;
    color:#3C9CE7;
}

.component > .inputWrap{
    display:inline-block;
    position:relative;
}

.component input{
    width:500px;height:40px;
    padding:0px 10px;
    vertical-align:middle;
    border:1px solid #CDCDCD;
    border-radius:5px;
}

.component input:focus{
    outline:2px solid #3C9CE7;
}

.component .search{
    width:40px;
    position:absolute;
    right:0px;
    padding:7px;
    vertical-align:middle;
    border:1px solid #CDCDCD; border-radius:5px;
    cursor:pointer;
}

#buttonWrap > button{
    width:15%; height:40px;
    border:none; border-radius:5px;
    background-color:#3C9CE7;
    font-weight:600;
    color:white;
}