@charset "UTF-8";

#wrapper{
	width:80%;
	margin:auto;
}

form{
	float:right;
	margin-bottom:50px;
}

form > input,
form > select{
	height:33px;
	padding:5px;
	vertical-align:middle;
	border:1px solid #BF8DFF;
	border-radius:5px;
}

form > select{
	margin:0px 3px;
	padding:0px 3px;
}

form > button{
	height:33px;
	line-height:0px !important;
	padding:0px 15px !important;
}

table{
	width:100%;
	margin:auto;
}

table, th, td{
	padding:10px 10px;
	text-align:center;
	border-top:1px solid #CDCDCD;
	border-bottom:1px solid #CDCDCD;
	border-collapse:collapse;
	font-size:14px;
}

nav:has(ul.pagination){
	display:table;
	margin:auto;
	margin-top:50px;
}

nav .page-link{
	color:#A65FFF;
}