<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ham.len.humanresource.HumanResourceDAO">
	<sql id="searchSQL">
		<if test="startDate != '' or endDate != ''">
			WHERE
			<choose>
				<when test="startDate != '' and endDate != ''">
					${dateColumn} BETWEEN #{startDate} AND #{endDate}
				</when>
				<when test="startDate != '' and endDate == ''">
					<![CDATA[${dateColumn} >= #{startDate}]]>
				</when>
				<when test="startDate == '' and endDate != ''">
					<![CDATA[${dateColumn} <= #{endDate}]]> 
				</when>
			</choose>
		</if>
		<if test="department != ''">
			<if test="startDate == '' and endDate == ''">WHERE</if>
			<if test="startDate != '' or endDate != ''">AND</if>
			DEPARTMENT_CD = #{department}
		</if>
		<if test="keyword != ''">
			<if test="startDate == '' and endDate == '' and department == ''">WHERE</if>
			<if test="startDate != '' or endDate != '' or department != ''">AND</if>
			<choose>
				<when test="kind == 'employeeID'">
					${baseTableName}EMPLOYEE_ID
					LIKE CONCAT('%', #{keyword}, '%')
				</when>
				<when test="kind == 'name'">
					NAME LIKE CONCAT('%', #{keyword}, '%')
				</when>
			</choose>
		</if>
	</sql>
	
	<select id="getTotal" parameterType="HumanResourcePager" resultType="Long">
		SELECT COUNT(*)
			FROM HUMAN_RESOURCE
		<include refid="searchSQL">
			<property name="dateColumn" value="JOIN_DATE" />
			<property name="baseTableName" value="" />
		</include>
	</select>
	
	<select id="getHumanResourceList" parameterType="HumanResourcePager" resultType="HumanResourceVO">
		SELECT *,
		FN_CODE_NM(LEFT(POSITION_CD, 3), POSITION_CD) AS POSITION_CD_NAME,
		FN_CODE_NM(LEFT(DEPARTMENT_CD, 3), DEPARTMENT_CD) AS DEPARTMENT_CD_NAME 
			FROM HUMAN_RESOURCE
		<include refid="searchSQL">
			<property name="dateColumn" value="JOIN_DATE" />
			<property name="baseTableName" value="" />
		</include>
		LIMIT #{startRow}, 10
	</select>
	
	<select id="getDepartmentalHumanResourceList" parameterType="String" resultType="HumanResourceExcelVO">
		SELECT
		EMPLOYEE_ID, DATE_FORMAT(JOIN_DATE, '%Y-%m-%d') AS JOIN_DATE,
		NAME, DATE_FORMAT(BIRTH, '%Y-%m-%d') AS BIRTH, YEARS_OF_SERVICE,
		EXTENSION_NUMBER, PHONE, MAIN_NUMBER, EMAIL, ADDRESS,
		BANK, ACCOUNT_NUMBER, ACCOUNT_HOLDER, DATE_FORMAT(QUIT_DATE, '%Y-%m-%d') AS QUIT_DATE , QUIT_REASON,
		FN_CODE_NM(LEFT(POSITION_CD, 3), POSITION_CD) AS POSITION_CD_NAME,
		FN_CODE_NM(LEFT(DEPARTMENT_CD, 3), DEPARTMENT_CD) AS DEPARTMENT_CD_NAME,
		CASE
			WHEN JOIN_TYPE = 0 THEN '신입'
			WHEN JOIN_TYPE = 1 THEN '경력'
		END AS JOIN_TYPE
			FROM HUMAN_RESOURCE
		WHERE DEPARTMENT_CD = #{value}
	</select>
	
	<select id="getDepartmentList" resultType="CodeVO">
		SELECT CODE, CODE_NAME FROM CODE WHERE UP_CODE = 'D00'
	</select>
	
	<select id="getHumanResource" parameterType="String" resultMap="getHumanResourceResult">
		SELECT *,
		FN_CODE_NM(LEFT(POSITION_CD, 3), POSITION_CD) AS POSITION_CD_NAME,
		FN_CODE_NM(LEFT(DEPARTMENT_CD, 3), DEPARTMENT_CD) AS DEPARTMENT_CD_NAME
			FROM HUMAN_RESOURCE HR LEFT OUTER JOIN ACCOUNT_ROLE AR
				ON HR.EMPLOYEE_ID = AR.EMPLOYEE_ID LEFT OUTER JOIN ROLE R
				ON AR.ROLE_NUM = R.ROLE_NUM LEFT OUTER JOIN CODE C
				ON R.ROLE_NAME = C.CODE
		WHERE HR.EMPLOYEE_ID = #{value}
	</select>
	
	<resultMap id="getHumanResourceResult" type="HumanResourceVO">
		<id column="EMPLOYEE_ID" property="employeeID" />
		<result column="PASSWORD" property="password" />
		<result column="JOIN_DATE" property="joinDate" />
		<result column="JOIN_TYPE" property="joinType" />
		<result column="NAME" property="name" />
		<result column="BIRTH" property="birth" />
		<result column="DEPARTMENT_CD" property="departmentCd" />
		<result column="DEPARTMENT_CD_NAME" property="departmentCdName" />
		<result column="POSITION_CD" property="positionCd" />
		<result column="POSITION_CD_NAME" property="positionCdName" />
		<result column="YEARS_OF_SERVICE" property="yearsOfService" />
		<result column="EXTENSION_NUMBER" property="extensionNumber" />
		<result column="PHONE" property="phone" />
		<result column="MAIN_NUMBER" property="mainNumber" />
		<result column="EMAIL" property="email" />
		<result column="ADDRESS" property="address" />
		<result column="BANK" property="bank" />
		<result column="ACCOUNT_NUMBER" property="accountNumber" />
		<result column="ACCOUNT_HOLDER" property="accountHolder" />
		<result column="APPROVAL_AUTHORITY" property="approvalAuthority" />
		<result column="SIGNATURE" property="signature" />
		<result column="QUIT_DATE" property="quitDate" />
		<result column="QUIT_REASON" property="quitReason" />
		<result column="PROFILE" property="profile" />
		<result column="REG_ID" property="regId" />
		<result column="REG_DATE" property="regDate" />
		<result column="REG_MENU" property="regMenu" />
		<result column="MOD_ID" property="modId" />
		<result column="MOD_DATE" property="modDate" />
		<result column="MOD_MENU" property="modMenu" />
		
		<collection property="roles" javaType="List" ofType="RoleVO">
			<id column="ROLE_NUM" property="roleNum" />
			<result column="CODE_NAME" property="roleName" />
		</collection>
	</resultMap>
	
	<insert id="setRegistration" parameterType="HumanResourceVO" useGeneratedKeys="true" keyProperty="employeeID">
		INSERT INTO HUMAN_RESOURCE
		(
			EMPLOYEE_ID, PASSWORD, JOIN_DATE, JOIN_TYPE, NAME, BIRTH,
			DEPARTMENT_CD, POSITION_CD, YEARS_OF_SERVICE, EXTENSION_NUMBER, PHONE, MAIN_NUMBER,
			EMAIL, ADDRESS, BANK, ACCOUNT_NUMBER, ACCOUNT_HOLDER,
			APPROVAL_AUTHORITY, SIGNATURE, QUIT_DATE, QUIT_REASON, PROFILE,
			REG_ID, REG_DATE, REG_MENU, MOD_ID, MOD_DATE, MOD_MENU
		)
		VALUES
		(
			FN_EMPLOYEE_ID(), #{password}, #{joinDate}, #{joinType}, #{name}, #{birth},
			#{departmentCd}, #{positionCd}, #{yearsOfService}, #{extensionNumber}, #{phone}, #{mainNumber},
			#{email}, #{address}, #{bank}, #{accountNumber}, #{accountHolder},
			#{approvalAuthority}, #{signature}, #{quitDate}, #{quitReason}, #{profile},
			#{regId}, #{regDate}, #{regMenu}, #{modId}, #{modDate}, #{modMenu}
		)
	</insert>
	
	<insert id="setAccountRole" parameterType="AccountRoleVO">
		INSERT INTO ACCOUNT_ROLE VALUES(#{roleNum}, #{employeeID})
	</insert>
	
	<select id="getLatestEmployeeID" parameterType="String">
		SELECT MAX(EMPLOYEE_ID) FROM HUMAN_RESOURCE
	</select>
	
	<select id="getAccountRole" resultType="String">
		SELECT ROLE_NAME
			FROM ACCOUNT_ROLE AR LEFT OUTER JOIN ROLE R
				ON AR.ROLE_NUM = R.ROLE_NUM
		WHERE EMPLOYEE_ID = #{value}
	</select>
	
	<delete id="setDeleteAccountRole" parameterType="String">
		DELETE FROM ACCOUNT_ROLE WHERE EMPLOYEE_ID = #{value}
	</delete>
	
	<update id="setUpdate" parameterType="HumanResourceVO">
		UPDATE HUMAN_RESOURCE SET
			JOIN_DATE = #{joinDate}, JOIN_TYPE = #{joinType}, NAME = #{name}, BIRTH = #{birth},
			DEPARTMENT_CD = #{departmentCd}, POSITION_CD = #{positionCd}, YEARS_OF_SERVICE = #{yearsOfService}, EXTENSION_NUMBER = #{extensionNumber},
			PHONE = #{phone}, MAIN_NUMBER = #{mainNumber}, EMAIL = #{email}, ADDRESS = #{address}, BANK = #{bank},
			ACCOUNT_NUMBER = #{accountNumber}, ACCOUNT_HOLDER = #{accountHolder}, QUIT_DATE = #{quitDate}, QUIT_REASON = #{quitReason}
			<if test="profile != null">, PROFILE = #{profile}</if>
		WHERE EMPLOYEE_ID = #{employeeID}
	</update>
	
	<!-- 
		<delete id="setDelete">
			DELETE FROM HUMAN_RESOURCE WHERE EMPLOYEE_ID = #{value}
		</delete>
	 -->
	
	<update id="setUpdatePassword" parameterType="HumanResourceVO">
		UPDATE HUMAN_RESOURCE SET PASSWORD = #{password} WHERE EMPLOYEE_ID = #{employeeID}
	</update>
	
	<select id="getEmail" parameterType="String" resultType="String">
		SELECT EMAIL
			FROM HUMAN_RESOURCE
		WHERE EMPLOYEE_ID = #{value}
	</select>
</mapper>