<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ham.len.humanresource.HumanResourceDAO">
	<select id="getHumanResource" parameterType="String" resultType="HumanResourceVO">
		SELECT *
			FROM HUMAN_RESOURCE HR INNER JOIN ACCOUNT_ROLE AR
				ON HR.EMPLOYEE_ID = AR.EMPLOYEE_ID INNER JOIN ROLE R
				ON AR.ROLE_NUM = R.ROLE_NUM INNER JOIN CODE C
				ON R.ROLE_NAME = C.CODE
		WHERE HR.EMPLOYEE_ID = #{value}
	</select>
	
	<!-- <resultMap id="getHumanResourceResult" type="HumanResourceVO">
		<id column="EMPLOYEE_ID" property="employeeID" />
		<result column="PASSWORD" property="password" />
		<result column="JOIN_DATE" property="joinDate" />
		<result column="JOIN_TYPE" property="joinType" />
		<result column="birth" property="name" />
		<result column="BIRTH" property="birth" />
		<result column="DEPARTMENT_CD" property="departmentCd" />
		<result column="POSITION_CD" property="positionCd" />
		<result column="EXTENSION_NUMBER" property="extensionNumber" />
		<result column="PHONE" property="phone" />
		<result column="MAIN_NUMBER" property="mainNumber" />
		<result column="EMAIL" property="email" />
		<result column="ZIP_CODE" property="zipCode" />
		<result column="ADDRESS" property="address" />
		<result column="ADDRESS_DETAIL" property="addressDetail" />
		<result column="BANK" property="bank" />
		<result column="ACCOUNT_NUMBER" property="accountNumber" />
		<result column="ACCOUNT_HOLDER" property="accountHolder" />
		<result column="SIGNATURE" property="signature" />
		<result column="QUIT_DATE" property="quitDate" />
		<result column="QUIT_REASON" property="quitReason" />
		<result column="REG_ID" property="regId" />
		<result column="REG_DATE" property="regDate" />
		<result column="REG_MENU" property="regMenu" />
		<result column="MOD_ID" property="modId" />
		<result column="MOD_DATE" property="modDate" />
		<result column="MOD_MENU" property="modMenu" />
		
		<collection property="roles" javaType="List" ofType="RoleVO">
			<id column="ROLE_NUM" property="roleNum" />
			<result column="CODE_NAME" property="roleName" />
		</collection>
	</resultMap> -->
</mapper>