@charset "UTF-8";

/* 사이드바 너비의 80%만큼 왼쪽으로 이동 */
.toggle-slide-List {
  border-radius: 3px;
  transform: translate(calc(392.75px * +0.8), 0);  /* X축 이동, Y축 고정 */
  transition: .5s;
  width: 392.75px;
  position:fixed;
  right:-80px;
  top:69px;
  z-index:1030;
  border:1px solid #EEF1F6;
  box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);;
}

/* .toggle-slide-List .card,.card-bdy{
	width: 400px;
} */

/* 마우스 인식 시 원래의 위치로 이동 */
.toggle-slide-List.active {
  transform: translate(-55px, 0);   /* 둥근 모서리의 너비만큼 X축 이동, Y축 고정 */
}

#add-task{
   padding: 7px 18px 7px 18px;
   	
}

