<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ham.len.purchase.PurchaseDAO">
 
<sql id="forSearch">
<choose>
	<when test="kind=='1'">CLIENT_NAME</when>
	<when test="kind=='2'">CODE_NAME</when>
	<otherwise>NAME</otherwise>
</choose>
</sql> 
	

	<select id="getList" resultMap="PurchaseList" parameterType="Pager">
        
        SELECT *, FN_CODE_NM(LEFT(M.MATERIAL_PRODUCT_CD,3),M.MATERIAL_PRODUCT_CD) AS CODE_NAME
          FROM PURCHASE_MANAGEMENT P 
    
    INNER JOIN HUMAN_RESOURCE H
         	ON P.EMPLOYEE_ID = H.EMPLOYEE_ID
    
    INNER JOIN CLIENT_LIST C
    		ON P.CLIENT_NO = C.CLIENT_NO
    
    INNER JOIN MATERIAL_PRODUCT M
    		ON P.MATERIAL_PRODUCT_NO = M.MATERIAL_PRODUCT_NO
    
    INNER JOIN FACTORY_STORAGE F
    		ON P.FACTORY_STORAGE_NO = F.FACTORY_STORAGE_NO
    	 
         ORDER BY PURCHASE_NO DESC
         LIMIT #{startRow},#{lastRow}
         
	</select>
	
	<resultMap type="PurchaseVO" id="PurchaseList">
	
  		<id column="PURCHASE_NO" property="purchaseNo"/>
  		<result column="CLIENT_NO" property="clientNo"/>
  		<result column="MATERIAL_PRODUCT_NO" property="materialProductNo"/>
  		<result column="EMPLOYEE_ID" property="employeeId"/>
  		<result column="PURCHASE_DATE" property="purchaseDate"/>
  		<result column="PURCHASE_IN_DATE" property="purchaseInDate"/>
  		<result column="TOTAL_PRICE" property="totalPrice"/>
  		<result column="CODE_NAME" property="codeName"/>
  			
  			<association property="salesClientVO" javaType="SalesClientVO">
  				<result column="CLIENT_NAME" property="clientName"/>
  			</association>

  			<association property="humanResourceVO" javaType="HumanResourceVO">
  				<result column="NAME" property="name"/>
  			</association>

  			<association property="materialProductVO" javaType="MaterialProductVO">
  				<result column="MATERIAL_PRODUCT_CATEGORY" property="materialProductCategory"/>
  			</association>
  			
  			<association property="factoryStorageVO" javaType="FactoryStorageVO">
  				<result column="FACTORY_STORAGE_CD" property="factoryStorageCd"/>
  			</association>
  		
  	</resultMap>
   
   
    <insert id="setAdd" parameterType="PurchaseVO">
    
    	INSERT INTO PURCHASE_MANAGEMENT
			(PURCHASE_NO , PURCHASE_DATE , CLIENT_NO , EMPLOYEE_ID , MATERIAL_PRODUCT_NO , TOTAL_PRICE , FACTORY_STORAGE_NO , PURCHASE_IN_DATE , MOD_MENU , REG_ID , REG_DATE , REG_MENU , MOD_ID , MOD_DATE)
		VALUES
			(#{purchaseNo} , NOW() , #{clientNo} , #{employeeId} , #{materialProductNo} , #{totalPrice} , #{factoryStorageNo} , #{purchaseInDate} , #{modMenu} , #{regId} , NOW() , #{regMenu} , #{modId} , NOW())
    
    </insert>
    
    <select id="clientSearch" resultType="Long" parameterType="Pager">
    	SELECT * 
    	  FROM CLIENT_LIST
    	 WHERE CLIENT_NAME LIKE '%'||#{search}||'%'
    </select>
    
    <select id="humanSearch" resultType="HumanResourceVO" parameterType="HumanResourceVO">
    	SELECT *
    	  FROM HUMAN_RESOURCE
    	 WHERE NAME=#{name}
    </select>

    <select id="factorySerch" resultType="String" parameterType="CodeVO">
    	SELECT *
    	  FROM FACTORY_STORAGE
    	 WHERE FACTORY_STORAGE_NO = (SELECT CODE
    	 				  			   FROM CODE
    	  				  			  WHERE CODE_NAME = #{codeName})
    </select>
    
    <select id="getList2" resultType="FactoryStorageVO">
		SELECT F.*, C.* FROM 
		FACTORY_STORAGE F LEFT OUTER JOIN CODE C 
		ON F.FACTORY_STORAGE_CD = C.CODE
	</select>

    <select id="getList3" resultType="MaterialProductVO">
		SELECT M.*, C.* FROM 
		MATERIAL_PRODUCT M LEFT OUTER JOIN CODE C 
		ON M.MATERIAL_PRODUCT_CD = C.CODE
	</select>
    
    <select id="getDetail" resultMap="detailList" parameterType="purchaseVO">
    
    SELECT *, FN_CODE_NAME(LEFT(F.FACTORY_STORAGE_CD,3),F.FACTORY_STORAGE_CD) AS CODE_NAME
          FROM PURCHASE_MANAGEMENT P 
    
    INNER JOIN HUMAN_RESOURCE H
         	ON P.EMPLOYEE_ID = H.EMPLOYEE_ID
    
    INNER JOIN CLIENT_LIST C
    		ON P.CLIENT_NO = C.CLIENT_NO

    INNER JOIN MATERIAL_PRODUCT M
    		ON P.MATERIAL_PRODUCT_NO = M.MATERIAL_PRODUCT_NO

    INNER JOIN FACTORY_STORAGE F
    		ON P.FACTORY_STORAGE_NO = F.FACTORY_STORAGE_NO

         WHERE P.PURCHASE_NO=#{purchaseNo}
    
    </select>
    
    <resultMap type="PurchaseVO" id="detailList">
  		<id column="PURCHASE_NO" property="purchaseNo"/>
  		<result column="CLIENT_NO" property="clientNo"/>
  		<result column="MATERIAL_PRODUCT_NO" property="materialProductNo"/>
  		<result column="EMPLOYEE_ID" property="employeeId"/>
  		<result column="FACTORY_STORAGE_NO" property="factoryStorageNo"/>
  		<result column="PURCHASE_DATE" property="purchaseDate"/>
  		<result column="PURCHASE_IN_DATE" property="purchaseInDate"/>
  		<result column="TOTAL_PRICE" property="totalPrice"/>
  		<result column="CODE_NAME" property="codeName"/>
  		
  			<association property="salesClientVO" javaType="SalesClientVO">
  				<result column="CLIENT_NAME" property="clientName"/>
  			</association>

  			<association property="humanResourceVO" javaType="HumanResourceVO">
  				<result column="NAME" property="name"/>
  			</association>

  			<association property="materialProductVO" javaType="MaterialProductVO">
  				<result column="MATERIAL_PRODUCT_CATEGORY" property="materialProductCategory"/>
  			</association>
  			
  			<association property="factoryStorageVO" javaType="FactoryStorageVO">
  				<result column="FACTORY_STORAGE_CD" property="factoryStorageCd"/>
  			</association>
  		
  	</resultMap>
  	
  	<update id="setUpdate" parameterType="purchaseVO">  	
  	
  		UPDATE PURCHASE_MANAGEMENT P ,  FN_CODE_NAME(LEFT(F.FACTORY_STORAGE_CD,3),F.FACTORY_STORAGE_CD) AS FACTORY_NAME
	INNER JOIN HUMAN_RESOURCE H
	      	ON P.EMPLOYEE_ID = H.EMPLOYEE_ID
	INNER JOIN CLIENT_LIST C
	    	ON P.CLIENT_NO = C.CLIENT_NO
	INNER JOIN FACTORY_STORAGE F
	    	ON P.FACTORY_STORAGE_NO = F.FACTORY_STORAGE_NO
    	   SET C.CLIENT_NAME=#{salesClientVO.clientName} , H.NAME=#{humanResourceVO.name} , F.FACTORY_STORAGE_CD=#{factoryStorageCd}, P .PURCHASE_IN_DATE=#{purchaseInDate} , P.MOD_DATE=NOW()
  		 WHERE P.PURCHASE_NO=#{purchaseNo}
  		 
  	</update>
  	
  	<delete id="setDelete" parameterType="PurchaseVO"> 
  		
  		DELETE FROM PURCHASE_MANAGEMENT
  		 WHERE PURCHASE_NO=#{purchaseNo}
  		
  	</delete> 
  	 

</mapper>