<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ham.len.admin.CodeDAO">

<sql id="searchCdName">
<choose>
  <when test="kind=='upCode'">UP_CODE</when>
  <when test="kind=='code'">CODE</when>
  <otherwise>CODE_NAME</otherwise>
</choose>
</sql>

	<select id="getDetail" resultType="CodeVO"
		parameterType="CodeVO">
		SELECT *
		FROM CODE
		WHERE CODE=#{code}
	</select>

	<select id="getList" resultType="CodeVO" parameterType="Pager">
		SELECT *
		FROM CODE
		WHERE <include refid="searchCdName"></include>
	    LIKE CONCAT('%',#{search},'%')
		ORDER BY CODE DESC
		LIMIT #{startRow},#{lastRow}
	</select>

	<insert id="setAdd" parameterType="CodeVO">
		INSERT INTO
		CODE(CODE,UP_CODE,CODE_NAME,
		REG_ID,REG_DATE,REG_MENU,MOD_ID,MOD_DATE,MOD_MENU)
		VALUES(#{code},#{upCode},#{codeName},#{regId},NOW(),#{regMenu},#{modId},NOW(),#{modMenu})
	</insert>

	<update id="setUpdate" parameterType="CodeVO">
		UPDATE CODE
		SET
		CODE=#{code},UP_CODE=#{upCode},CODE_NAME=#{codeName}
		,MOD_ID=#{modId},MOD_DATE=NOW(),MOD_MENU=#{modMenu}
		WHERE
		CODE=#{originCode}
	</update>

	<delete id="setDelete" parameterType="CodeVO">
		DELETE FROM CODE
		WHERE
		CODE=#{code}
	</delete>

	<select id="getLastId" resultType="String"
		parameterType="CodeVO">
		SELECT CONCAT(UP_CODE,(MAX(SUBSTRING(CODE,4))+1)) AS NEXT_CODE
		FROM CODE
		WHERE UP_CODE=#{upCode}
	</select>
	
	<select id="getTotal" resultType="Long" parameterType="Pager">
	    SELECT COUNT(*)
	      FROM CODE
	      WHERE <include refid="searchCdName"></include>
	    LIKE CONCAT('%',#{search},'%')
	</select>
	
	<select id="getCodeCheck" resultType="Long" parameterType="CodeVO">
         SELECT COUNT(*)
           FROM CODE
          WHERE CODE=#{code}
    </select>


</mapper>