<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ham.len.admin.CodeDAO">

<sql id="searchUpCdName">
<choose>
  <when test="kind=='upCode'">UP_CODE</when>
  <otherwise>UP_CODE_NAME</otherwise>
</choose>
</sql>

	<select id="getDetail" resultType="CodeVO"
		parameterType="CodeVO">
		SELECT *
		FROM CODE
		WHERE CODE=#{code}
	</select>

	<select id="getList" resultType="CodeVO">
		SELECT *
		FROM CODE
	</select>
	
	<select id="getListByUpCode" resultType="CodeVO" parameterType="CodeVO">
		SELECT *
		FROM CODE
		WHERE UP_CODE=#{upCode}
	</select>

	<insert id="setAdd" parameterType="CodeVO">
		INSERT INTO
		CODE(CODE,UP_CODE,CODE_NAME,
		REG_ID,REG_DATE,REG_MENU,MOD_ID,MOD_DATE,MOD_MENU)
		VALUES(#{code},#{upCode},#{codeName},#{regId},NOW(),#{regMenu},#{modId},NOW(),#{modMenu})
	</insert>
	
	<update id="setUpdate" parameterType="CodeVO">
		UPDATE CODE
		SET
		CODE=#{code},UP_CODE=#{upCode},CODE_NAME=#{codeName}
		,MOD_ID=#{modId},MOD_DATE=NOW(),MOD_MENU=#{modMenu}
		WHERE
		CODE=#{originCode}
	</update>
	
	<insert id="setUpAdd" parameterType="UpCodeVO">
		INSERT INTO
		UP_CODE(UP_CODE,UP_CODE_NAME,
		REG_ID,REG_DATE,REG_MENU,MOD_ID,MOD_DATE,MOD_MENU)
		VALUES(#{upCode},#{upCodeName},#{regId},NOW(),#{regMenu},#{modId},NOW(),#{modMenu})
	</insert>
	
	<update id="setUpUpdate" parameterType="UpCodeVO">
		UPDATE UP_CODE
		SET
		UP_CODE=#{upCode},UP_CODE_NAME=#{upCodeName}
		,MOD_ID=#{modId},MOD_DATE=NOW(),MOD_MENU=#{modMenu}
		WHERE
		UP_CODE=#{originUpCode}
	</update>
	
	<select id="getUpCodeCheck" parameterType="UpCodeVO" resultType="Long">
	SELECT COUNT(*) 
	  FROM UP_CODE
   	WHERE UP_CODE=#{upCode}
	</select>

	
	<delete id="setDelete" parameterType="CodeVO">
		DELETE FROM CODE
		WHERE
		CODE=#{code}
	</delete>
	
	<delete id="setUpDelete" parameterType="UpCodeVO">
		DELETE FROM UP_CODE
		WHERE
		UP_CODE=#{upCode}
	</delete>

	<select id="getLastId" resultType="String"
		parameterType="CodeVO">
		SELECT CONCAT(UP_CODE,(MAX(SUBSTRING(CODE,4))+1)) AS NEXT_CODE
		FROM CODE
		WHERE UP_CODE=#{upCode}
	</select>
	

	<select id="getCodeCheck" resultType="Long" parameterType="CodeVO">
         SELECT COUNT(*)
           FROM CODE
          WHERE CODE=#{code}
    </select>

    <select id="getUpList" resultType="UpCodeVO" parameterType="Pager">
         SELECT *
           FROM UP_CODE
          WHERE <include refid="searchUpCdName"></include>
           LIKE CONCAT('%',#{search},'%')
          ORDER BY UP_CODE DESC
          LIMIT #{startRow},#{lastRow}
    </select>
    
    <select id="getUpTotal" resultType="Long" parameterType="Pager">
	    SELECT COUNT(*)
	      FROM UP_CODE
	     WHERE <include refid="searchUpCdName"></include>
	   	  LIKE CONCAT('%',#{search},'%')
	</select>
	
    	<!-- 인사부 목록 가져오기 -->
    <select id="getApprovalLineDept" resultType="CodeVO">
     SELECT * FROM CODE
      WHERE UP_CODE='D00' AND RIGHT(CODE_NAME,1)='부'
    </select>
	
    
</mapper>