<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ham.len.admin.notice.NoticeDAO">

<sql id="searchNotice">
<choose> 
    <when test="kind=='writer'">NAME</when>
    <when test="kind=='contents'">NOTICE_CONTENTS</when>
    <otherwise>NOTICE_TITLE</otherwise>
</choose> 
</sql>

  <select id="getList" parameterType="Pager" resultMap="getNoticeList">
     SELECT *,FN_CODE_NM(LEFT(NOTICE_PRIORITY_CD,3),NOTICE_PRIORITY_CD) AS PRIOR_CD_NAME
     FROM NOTICE N INNER JOIN HUMAN_RESOURCE HR
       ON N.EMPLOYEE_ID=HR.EMPLOYEE_ID
     WHERE <include refid="searchNotice"></include>
     LIKE CONCAT('%',#{search},'%') 
     ORDER BY NOTICE_NO DESC
     LIMIT #{startRow},#{lastRow}
  </select>
  
  <resultMap type="NoticeVO" id="getNoticeList">
     <id column="NOTICE_NO" property="noticeNo"/>
     <result column="EMPLOYEE_ID" property="employeeID"/>
     <result column="NOTICE_TITLE" property="noticeTitle"/>
     <result column="NOTICE_CONTENTS" property="noticeContents"/>
     <result column="NOTICE_HIT" property="noticeHit"/>
     <result column="PRIOR_CD_NAME" property="priorCdName"/>
    
     <association property="humanResourceVO" javaType="HumanResourceVO">
     <result column="NAME" property="name"/>
     </association>
  
  </resultMap>
  
  <select id="getTotal" parameterType="Pager" resultType="Long">
     SELECT COUNT(*)
       FROM NOTICE N INNER JOIN HUMAN_RESOURCE HR
       ON N.EMPLOYEE_ID=HR.EMPLOYEE_ID
      WHERE <include refid="searchNotice"></include>
     <!--  <choose>
        <when test="search != null and search != ''"> -->
            LIKE CONCAT('%', #{search}, '%')
<!--         </when>
        <otherwise></otherwise> 
    </choose>-->
      
  </select>
  
  

  <select id="getDetail" parameterType="NoticeVO" resultMap="getNoticeDetail">
    SELECT *,FN_CODE_NM(LEFT(NOTICE_PRIORITY_CD,3),NOTICE_PRIORITY_CD) AS PRIOR_CD_NAME
     FROM NOTICE N INNER JOIN HUMAN_RESOURCE HR
       ON N.EMPLOYEE_ID=HR.EMPLOYEE_ID LEFT OUTER JOIN ATTACHMENT ATC 
       ON N.NOTICE_NO=ATC.NOTICE_NO 
     WHERE N.NOTICE_NO=#{noticeNo}
  </select>
  
  <resultMap type="NoticeVO" id="getNoticeDetail">
     <id column="NOTICE_NO" property="noticeNo"/>
     <result column="EMPLOYEE_ID" property="employeeID"/>
     <result column="NOTICE_TITLE" property="noticeTitle"/>
     <result column="NOTICE_CONTENTS" property="noticeContents"/>
     <result column="NOTICE_HIT" property="noticeHit"/>
     <result column="PRIOR_CD_NAME" property="priorCdName"/>
    
     <association property="humanResourceVO" javaType="HumanResourceVO">
     <result column="NAME" property="name"/>
     </association>
     
     <collection property="attachmentVOs" javaType="List"
     ofType="AttachmentVO">
     <id column="FILE_NO" property="fileNo"/>
     <result column="FILE_PATH" property="filePath"/>
     <result column="FILE_NAME" property="fileName"/>
     <result column="ORIGINAL_NAME" property="originalName"/>
     </collection>
  </resultMap>
  
  <insert id="setAdd" parameterType="NoticeVO" useGeneratedKeys="true" keyProperty="noticeNo">
     INSERT INTO NOTICE(NOTICE_NO,EMPLOYEE_ID,NOTICE_TITLE,NOTICE_CONTENTS,NOTICE_HIT,NOTICE_PRIORITY_CD,REG_ID,REG_DATE,REG_MENU,MOD_ID,MOD_DATE,MOD_MENU)
     VALUES (#{noticeNo},#{employeeID},#{noticeTitle},#{noticeContents},0,#{noticePriorityCd},#{regId},NOW(),#{regMenu},#{modId},NOW(),#{modMenu}) 
  </insert>
  
  <update id="setUpdate" parameterType="NoticeVO">
     UPDATE NOTICE
        SET EMPLOYEE_ID=#{employeeID},NOTICE_TITLE=#{noticeTitle},
        NOTICE_CONTENTS=#{noticeContents},
        NOTICE_PRIORITY_CD=#{noticePriorityCd}
        ,MOD_ID=#{modId},MOD_DATE=NOW(),MOD_MENU=#{modMenu}
		WHERE NOTICE_NO=#{noticeNo}
  </update>

  <update id="setHitUpdate" parameterType="NoticeVO">
     UPDATE NOTICE
        SET NOTICE_HIT=#{noticeHit}+1
        ,MOD_ID=#{modId},MOD_DATE=NOW(),MOD_MENU=#{modMenu}
		WHERE NOTICE_NO=#{noticeNo}
  </update>
  
  <delete id="setDelete" parameterType="NoticeVO"> 
     DELETE FROM NOTICE
      WHERE NOTICE_NO=#{noticeNo}
  </delete>
 
   <insert id="setFileAdd" parameterType="AttachmentVO">
     INSERT INTO ATTACHMENT(FILE_NO,NOTICE_NO,FILE_PATH,FILE_NAME,ORIGINAL_NAME,REG_ID,REG_DATE,REG_MENU,MOD_ID,MOD_DATE,MOD_MENU)
     VALUES (#{fileNo},#{noticeNo},#{filePath},#{fileName},#{originalName},#{regId},NOW(),#{regMenu},#{modId},NOW(),#{modMenu}) 
  </insert>
  
  <select id="getFileDetail" parameterType="AttachmentVO">
     SELECT *
       FROM ATTACHMENT
      WHERE FILE_NO=#{fileNo}
  </select>


</mapper>