<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ham.len.transfer.TransferDAO">
	<select id="getHumanResourceList" resultType="HumanResourceVO">
		SELECT *,
		FN_CODE_NM(LEFT(POSITION_CD, 3), POSITION_CD) AS POSITION_CD_NAME,
		FN_CODE_NM(LEFT(DEPARTMENT_CD, 3), DEPARTMENT_CD) AS DEPARTMENT_CD_NAME 
			FROM HUMAN_RESOURCE
	</select>
	
	<select id="getCodeList" parameterType="String" resultType="CodeVO">
		SELECT CODE, CODE_NAME FROM CODE WHERE UP_CODE = #{value}
	</select>
	
	<insert id="setTransfer" parameterType="TransferVO">
		INSERT INTO TRANSFER
		VALUES
		(
			NULL, #{employeeID}, #{name}, #{transferDate}, #{transferTypeCd},
			#{beforePositionCd}, #{transferPositionCd},
			#{beforeDepartmentCd}, #{transferDepartmentCd},
			#{regId}, #{regDate}, #{regMenu}, #{modId}, #{modDate}, #{modMenu}
		)
	</insert>
	
	<select id="getTotal" parameterType="HumanResourcePager" resultType="Long">
		SELECT COUNT(*)
			FROM TRANSFER
		<include refid="com.ham.len.humanresource.HumanResourceDAO.searchSQL">
			<property name="dateColumn" value="TRANSFER_DATE" />
			<property name="baseTableName" value="" />
		</include>
	</select>
	
	<select id="getTransferList" parameterType="HumanResourcePager" resultType="TransferVO">
		SELECT *,
				   FN_CODE_NM(LEFT(TRANSFER_TYPE_CD, 3), TRANSFER_TYPE_CD) AS TRANSFER_TYPE_CD_NAME,
				   FN_CODE_NM(LEFT(BEFORE_POSITION_CD, 3), BEFORE_POSITION_CD) AS BEFORE_POSITION_CD_NAME,
				   FN_CODE_NM(LEFT(TRANSFER_POSITION_CD, 3), TRANSFER_POSITION_CD) AS TRANSFER_POSITION_CD_NAME,
				   FN_CODE_NM(LEFT(BEFORE_DEPARTMENT_CD, 3), BEFORE_DEPARTMENT_CD) AS BEFORE_DEPARTMENT_CD_NAME,
				   FN_CODE_NM(LEFT(TRANSFER_DEPARTMENT_CD, 3), TRANSFER_DEPARTMENT_CD) AS TRANSFER_DEPARTMENT_CD_NAME
			FROM TRANSFER
		<include refid="com.ham.len.humanresource.HumanResourceDAO.searchSQL">
			<property name="dateColumn" value="TRANSFER_DATE" />
			<property name="baseTableName" value="" />
		</include>
		ORDER BY TRANSFER_NO DESC
		LIMIT #{startRow}, 10
	</select>
	
	<select id="getTransfer" parameterType="String" resultType="TransferVO">
		SELECT *,
				   FN_CODE_NM(LEFT(TRANSFER_TYPE_CD, 3), TRANSFER_TYPE_CD) AS TRANSFER_TYPE_CD_NAME,
				   FN_CODE_NM(LEFT(BEFORE_POSITION_CD, 3), BEFORE_POSITION_CD) AS BEFORE_POSITION_CD_NAME,
				   FN_CODE_NM(LEFT(TRANSFER_POSITION_CD, 3), TRANSFER_POSITION_CD) AS TRANSFER_POSITION_CD_NAME,
				   FN_CODE_NM(LEFT(BEFORE_DEPARTMENT_CD, 3), BEFORE_DEPARTMENT_CD) AS BEFORE_DEPARTMENT_CD_NAME,
				   FN_CODE_NM(LEFT(TRANSFER_DEPARTMENT_CD, 3), TRANSFER_DEPARTMENT_CD) AS TRANSFER_DEPARTMENT_CD_NAME
			FROM TRANSFER
		WHERE TRANSFER_NO = #{value}
	</select>
	
	<update id="updateTransfer" parameterType="TransferVO">
		UPDATE TRANSFER SET
			NAME = #{name}, TRANSFER_DATE = #{transferDate}, TRANSFER_TYPE_CD = #{transferTypeCd},
			BEFORE_POSITION_CD = #{beforePositionCd}, TRANSFER_POSITION_CD = #{transferPositionCd},
			BEFORE_DEPARTMENT_CD = #{beforeDepartmentCd}, TRANSFER_DEPARTMENT_CD = #{transferDepartmentCd}
		WHERE TRANSFER_NO = #{transferNo}
	</update>
	
	<delete id="setDelete" parameterType="String">
		DELETE FROM TRANSFER WHERE TRANSFER_NO = #{value}
	</delete>
</mapper>