@charset "UTF-8";

*{
	box-sizing:border-box;
}

p{
	margin:0px;
}

i{
	font-style:unset;
}





#searchWindow{
	width:700px; height:450px;
    position:absolute;
    top:50%; left:50%;
    margin-left:-350px; margin-top:-225px;
    z-index:10000;
	border:1px solid #3C9CE7;
	background-color:white;
}

#searchWindow > #titleBar{
    background-color:#3C9CE7;
    padding:5px;
    font-weight:400;
    color:white;
    cursor:move;
}

#searchWindow > #titleBar > p{
	display: inline-block;
    font-size:14px;
}

#searchWindow > #titleBar > #close{
	width:20px;
	float:right;
	cursor:pointer;
}

#searchWindow > #list{
	height:84%;
    padding:10px;
    overflow-y:auto;
}

#searchWindow > #list > table{
	width:100%;
}

#searchWindow > #list > table th,
#searchWindow > #list > table td{
	width:20%; height:25px;
	text-align:center;
	border-collapse:collapse;
	border:1px solid #CDCDCD;
	font-size:14px;
}

#searchWindow > #footer{
	width:100%; height:9%;
	display:flex;
	align-items:center;
	position:absolute;
	bottom:0px;
	border-top:1px solid #CDCDCD;
}

#searchWindow > #footer > button{
	width:70px; height:30px;
	margin-left:10px;
	border:none;
	background-color:#3C9CE7;
	font-size:13px; font-weight:600;
	color:white;
}





#errorsDetailModal .modal-content{
    border:none;
}

#errorsDetailModal .modal-header{
    background-color:#FF6767;
    color:white;
}

#errorsDetailModal .modal-header > .modal-title{
    font-size:15px; font-weight:bold;
}

#errorsDetailModal .modal-header > img.close{
	width:25px;
	cursor:pointer;
}

#errorsDetailModal .modal-body li{
    margin:7px 0px;
}

#errorsDetailModal .modal-body li:not(:has(span)){
    display:none;
}





#loading{
	width:100%; height:100%;
	position:fixed;
	top:0px; left:0px;
	background-image:url("/images/humanResource/loading.gif");
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:45px 45px;
	background-color:#E3E3E3;
	opacity:0.5;
	z-index:10000;
}