@charset "UTF-8";

*{
	box-sizing:border-box;
}

p{
	margin:0px;
}

i{
	font-style:unset;
}





#searchWindow{
	width:700px; height:450px;
    position:absolute;
    top:50%; left:50%;
    margin-left:-350px; margin-top:-225px;
    z-index:10000;
	border:1px solid #3C9CE7;
	background-color:white;
}

#searchWindow > #titleBar{
    background-color:#3C9CE7;
    padding:5px;
    font-weight:400;
    color:white;
    cursor:move;
}

#searchWindow > #titleBar > p{
	display: inline-block;
    font-size:14px;
}

#searchWindow > #titleBar > #close{
	width:20px;
	float:right;
	cursor:pointer;
}

#searchWindow > #list{
	height:84%;
    padding:10px;
    overflow-y:auto;
}

#searchWindow > #list > table{
	width:100%;
}

#searchWindow > #list > table th,
#searchWindow > #list > table td{
	width:20%; height:25px;
	text-align:center;
	border-collapse:collapse;
	border:1px solid #CDCDCD;
	font-size:14px;
}

#searchWindow > #footer{
	width:100%; height:9%;
	display:flex;
	align-items:center;
	position:absolute;
	bottom:0px;
	border-top:1px solid #CDCDCD;
}

#searchWindow > #footer > button{
	width:70px; height:30px;
	margin-left:10px;
	border:none;
	background-color:#3C9CE7;
	font-size:13px; font-weight:600;
	color:white;
}