<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ham.len.admin.document.ApprovalTypeDAO">

	<select id="getDetail" resultMap="getDetailResult"
		parameterType="ApprovalTypeVO">
		SELECT
		*,FN_CODE_NM(LEFT(A.APPROVAL_TYPE_CD,3),A.APPROVAL_TYPE_CD) AS
		A_CODE_NAME,
		FN_CODE_NM(LEFT(AU.APPROVAL_UP_TYPE_CD,3),AU.APPROVAL_UP_TYPE_CD) AS
		AU_CODE_NAME
		FROM APPROVAL_TYPE A INNER JOIN APPROVAL_UP_TYPE AU
		ON
		A.APPROVAL_UP_TYPE_NO=AU.APPROVAL_UP_TYPE_NO
		WHERE
		A.APPROVAL_TYPE_NO=#{approvalTypeNo}
	</select>

	<resultMap type="ApprovalTypeVO" id="getDetailResult">
		<id column="APPROVAL_TYPE_NO" property="approvalTypeNo" />
		<result column="EMPLOYEE_ID" property="employeeID" />
		<result column="APPROVAL_FORM" property="approvalForm" />
		<result column="APPROVAL_TYPE_CD" property="approvalTypeCd" />
		<result column="REG_ID" property="regId" />
		<result column="REG_DATE" property="regDate" />
		<result column="REG_MENU" property="regMenu" />
		<result column="MOD_ID" property="modId" />
		<result column="MOD_DATE" property="modDate" />
		<result column="MOD_MENU" property="modMenu" />
		<result column="A_CODE_NAME" property="codeName" />

		<association property="approvalUpTypeVO"
			javaType="ApprovalUpTypeVO">
			<id column="APPROVAL_UP_TYPE_NO" property="approvalUpTypeNo" />
			<result column="EMPLOYEE_ID" property="employeeID" />
			<result column="APPROVAL_UP_TYPE_CD"
				property="approvalUpTypeCd" />
			<result column="REG_ID" property="regId" />
			<result column="REG_DATE" property="regDate" />
			<result column="REG_MENU" property="regMenu" />
			<result column="MOD_ID" property="modId" />
			<result column="MOD_DATE" property="modDate" />
			<result column="MOD_MENU" property="modMenu" />
			<result column="AU_CODE_NAME" property="codeName" />
		</association>
	</resultMap>

	<select id="getUpDetail" resultType="ApprovalUpTypeVO"
		parameterType="ApprovalUpTypeVO">
		SELECT
		*,FN_CODE_NM(LEFT(APPROVAL_UP_TYPE_CD,3),APPROVAL_UP_TYPE_CD) AS
		CODE_NAME
		FROM APPROVAL_UP_TYPE
		WHERE
		APPROVAL_UP_TYPE_NO=#{approvalUpTypeNo}
	</select>

	<select id="getList" resultType="ApprovalTypeVO"
		parameterType="Pager">
		SELECT *
		FROM APPROVAL_TYPE A INNER JOIN CODE C
		ON
		A.APPROVAL_TYPE_CD=C.CODE
		ORDER BY A.APPROVAL_TYPE_NO ASC
		LIMIT
		#{startRow},#{lastRow}
	</select>
	
	<select id="getUpList" resultType="ApprovalUpTypeVO">
		SELECT
		*,FN_CODE_NM(LEFT(APPROVAL_UP_TYPE_CD,3),APPROVAL_UP_TYPE_CD) AS
		CODE_NAME
		FROM APPROVAL_UP_TYPE
	</select>


	<insert id="setAdd" parameterType="ApprovalTypeVO">
		INSERT INTO
		APPROVAL_TYPE(APPROVAL_TYPE_NO,
		EMPLOYEE_ID,APPROVAL_UP_TYPE_NO,APPROVAL_FORM,APPROVAL_TYPE_CD,REG_ID,REG_DATE,REG_MENU,MOD_ID,MOD_DATE,MOD_MENU)
		VALUES(#{approvalTypeNo},#{employeeID},#{approvalUpTypeNo},#{approvalForm},#{approvalTypeCd},#{regId},NOW(),#{regMenu},#{modId},NOW(),#{modMenu})
	</insert>


	<update id="setUpdate" parameterType="ApprovalTypeVO">
		UPDATE APPROVAL_TYPE
		SET 
		APPROVAL_FORM=#{approvalForm},MOD_ID=#{modId},MOD_DATE=NOW(),MOD_MENU=#{modMenu},
		APPROVAL_UP_TYPE_NO=#{approvalUpTypeNo}
		WHERE
		APPROVAL_TYPE_NO=#{approvalTypeNo}
	</update>

	<delete id="setDelete" parameterType="ApprovalTypeVO">
		DELETE FROM APPROVAL_TYPE
		WHERE APPROVAL_TYPE_NO=#{approvalTypeNo}
	</delete>

	<delete id="setUpDelete" parameterType="ApprovalUpTypeVO">
		DELETE FROM
		APPROVAL_UP_TYPE
		WHERE APPROVAL_UP_TYPE_NO=#{approvalUpTypeNO}
	</delete>


	<insert id="setUpAdd" parameterType="ApprovalUpTypeVO">
		INSERT INTO
		APPROVAL_UP_TYPE(APPROVAL_UP_TYPE_NO,
		EMPLOYEE_ID,APPROVAL_UP_TYPE_CD,REG_ID,REG_DATE,REG_MENU,MOD_ID,MOD_DATE,MOD_MENU)
		VALUES(#{approvalUpTypeNo},#{employeeID},#{approvalUpTypeCd},#{regId},NOW(),#{regMenu},#{modId},NOW(),#{modMenu})
	</insert>

	

	<!-- uptypeVO내용만 뿌릴거여서 resultmap안해도상관없다 -->
	<!-- <select id="getTotalList" resultType="ApprovalUpTypeVO" parameterType="Pager"> 
		SELECT * FROM APPROVAL_UP_TYPE AU INNER JOIN CODE C ON AU.APPROVAL_UP_TYPE_CD=C.CODE 
		LEFT OUTER JOIN APPROVAL_TYPE A ON A.APPROVAL_UP_TYPE_NO=AU.APPROVAL_UP_TYPE_NO 
		ORDER BY AU.APPROVAL_UP_TYPE_NO ASC LIMIT #{startRow},#{lastRow} </select> -->
<sql id="searchApp">
<choose>
 <when test="kind=='codeName'">FN_CODE_NM(LEFT(APPROVAL_TYPE_CD,3),APPROVAL_TYPE_CD)</when>
 <otherwise>FN_CODE_NM(LEFT(APPROVAL_UP_TYPE_CD,3),APPROVAL_UP_TYPE_CD)</otherwise>
</choose>

</sql>
	<select id="getTotalList" resultMap="getTypeList"
		parameterType="Pager">
		SELECT *,A.APPROVAL_UP_TYPE_NO AS A_UP_NO,AU.APPROVAL_UP_TYPE_NO AS AU_UP_NO,
		FN_CODE_NM(LEFT(A.APPROVAL_TYPE_CD,3),A.APPROVAL_TYPE_CD) AS
		A_CODE_NAME,
		FN_CODE_NM(LEFT(AU.APPROVAL_UP_TYPE_CD,3),AU.APPROVAL_UP_TYPE_CD) AS
		AU_CODE_NAME
		FROM APPROVAL_TYPE A RIGHT OUTER JOIN APPROVAL_UP_TYPE AU
		ON A.APPROVAL_UP_TYPE_NO=AU.APPROVAL_UP_TYPE_NO
		WHERE <include refid="searchApp"></include>
		LIKE CONCAT('%',#{search},'%');
	</select>

	<resultMap type="ApprovalTypeVO" id="getTypeList">
		<id column="APPROVAL_TYPE_NO" property="approvalTypeNo" />
		<result column="EMPLOYEE_ID" property="employeeID" />
		<result column="A_UP_NO" property="approvalUpTypeNo" />
		<result column="APPROVAL_FORM" property="approvalForm" />
		<result column="APPROVAL_TYPE_CD" property="approvalTypeCd" />
		<result column="REG_ID" property="regId" />
		<result column="REG_DATE" property="regDate" />
		<result column="REG_MENU" property="regMenu" />
		<result column="MOD_ID" property="modId" />
		<result column="MOD_DATE" property="modDate" />
		<result column="MOD_MENU" property="modMenu" />
		<result column="A_CODE_NAME" property="codeName" />

		<association property="approvalUpTypeVO"
			javaType="ApprovalUpTypeVO">
			<id column="AU_UP_NO" property="approvalUpTypeNo" />
			<result column="EMPLOYEE_ID" property="employeeID" />
			<result column="APPROVAL_UP_TYPE_CD"
				property="approvalUpTypeCd" />
			<result column="REG_ID" property="regId" />
			<result column="REG_DATE" property="regDate" />
			<result column="REG_MENU" property="regMenu" />
			<result column="MOD_ID" property="modId" />
			<result column="MOD_DATE" property="modDate" />
			<result column="MOD_MENU" property="modMenu" />
			<result column="AU_CODE_NAME" property="codeName" />
		</association>
	</resultMap>

    <select id="getTotal" resultType="Long" parameterType="Pager">
        SELECT COUNT(*)
          FROM APPROVAL_TYPE AT RIGHT OUTER JOIN APPROVAL_UP_TYPE AUT 
            ON AT.APPROVAL_UP_TYPE_NO=AUT.APPROVAL_UP_TYPE_NO
          WHERE <include refid="searchApp"></include>
		LIKE CONCAT('%',#{search},'%');
    </select>

	<select id="getDetailByName" resultType="ApprovalUpTypeVO"
		parameterType="String">
		SELECT *
		FROM(SELECT
		*,FN_CODE_NM(LEFT(APPROVAL_UP_TYPE_CD,3),APPROVAL_UP_TYPE_CD) AS
		CODE_NAME
		FROM APPROVAL_UP_TYPE) A
		WHERE A.CODE_NAME=#{codeName}
	</select>
	
	<select id="checkByCd" resultType="Long" parameterType="String">
	    SELECT COUNT(*)
	      FROM APPROVAL_UP_TYPE
	     WHERE APPROVAL_UP_TYPE_CD=#{approvalUpTypeCd}
	</select>
	
	
	
	

</mapper>