<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ham.len.approval.ApprovalDAO">

   <select id="getList" resultType="ApprovalVO" parameterType="Pager">
        SELECT * 
          FROM APPROVAL
         ORDER BY APPROVAL_NO DESC
         LIMIT #{startRow},#{lastRow}
   </select>
   
   <select id="getTeamList" resultType="HumanResourceVO" parameterType="HumanResourceVO">
       SELECT *
         FROM HUMAN_RESOURCE HR RIGHT OUTER JOIN CODE C
           ON HR.DEPARTMENT_CD=C.CODE
        WHERE HR.DEPARTMENT_CD=#{departmentCd}
   </select>
   
   
   
   

</mapper>