<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ham.len.approval.ApprovalDAO">

<sql id="searchApp">
<choose>
 <when test="kind=='drafter'">DRAFTER</when>
 <when test="kind=='lastApprover'">LAST_APPROVER</when>
 <otherwise>APPROVAL_TITLE</otherwise>
</choose>

</sql>

<sql id="myList">
(A.EMPLOYEE_ID=#{vo.employeeID} 
		OR (MID_APPROVER=#{vo.employeeID} AND (APPROVAL_STATUS_CD IN ('R032','R033','R034')))
		OR (ADD_APPROVER=#{vo.employeeID} AND ((APPROVAL_STATUS_CD='R032' AND APPROVAL_CHECK_CD='R042') OR APPROVAL_STATUS_CD='R033' OR (APPROVAL_STATUS_CD='R034' AND APPROVAL_CHECK_CD='R042')))
		OR (LAST_APPROVER=#{vo.employeeID} AND ((APPROVAL_STATUS_CD='R032' AND APPROVAL_CHECK_CD='R042' AND ADD_APPROVER='') OR APPROVAL_STATUS_CD='R033' OR (APPROVAL_STATUS_CD='R032' AND APPROVAL_CHECK_CD='R043') OR APPROVAL_STATUS_CD='R033' OR (APPROVAL_STATUS_CD='R034' AND APPROVAL_CHECK_CD='R043'))))
</sql>


    

	<select id="getList" resultMap="getListResult"
		parameterType="Pager">
		SELECT *,A.APPROVAL_TYPE_NO AS A_APPROVAL_TYPE_NO,
		APT.APPROVAL_TYPE_NO AS
		APT_APPROVAL_TYPE_NO,
		FN_CODE_NM(LEFT((A.APPROVAL_STATUS_CD),3),A.APPROVAL_STATUS_CD) AS AP_CODE_NAME,
		FN_CODE_NM(LEFT((APT.APPROVAL_TYPE_CD),3),APT.APPROVAL_TYPE_CD) AS APT_CODE_NAME,
		FN_DEPT_NM(LAST_APPROVER) AS LAST_APPROVER_NAME
		FROM APPROVAL A LEFT OUTER JOIN APPROVAL_TYPE APT
		ON
		A.APPROVAL_TYPE_NO=APT.APPROVAL_TYPE_NO
		WHERE <include refid="searchApp"></include>
		LIKE CONCAT('%',#{search},'%')
		ORDER BY APPROVAL_NO DESC
		LIMIT
		#{startRow},#{lastRow}
	</select>

	<resultMap type="ApprovalVO" id="getListResult">
		<id column="APPROVAL_NO" property="approvalNo" />
		<result column="EMPLOYEE_ID" property="employeeID" />
		<result column="A_APPROVAL_TYPE_NO" property="approvalTypeNo" />
		<result column="APPROVAL_TITLE" property="approvalTitle" />
		<result column="APPROVAL_CONTENTS" property="approvalContents" />
		<result column="APPROVAL_STATUS_CD" property="approvalStatusCd" />
		<result column="APPROVAL_CHECK_CD" property="approvalCheckCd" />
		<result column="APPROVAL_START_DATE"
			property="approvalStartDate" />
		<result column="APPROVAL_END_DATE" property="approvalEndDate" />
		<result column="DRAFTER" property="drafter" />
		<result column="MID_APPROVER" property="midApprover" />
		<result column="ADD_APPROVER" property="addApprover" />
		<result column="LAST_APPROVER" property="lastApprover" />
		<result column="LAST_APPROVER_NAME" property="lastApproverName" />
		<result column="ADMONITION" property="admonition" />
		<result column="REG_ID" property="regId" />
		<result column="REG_DATE" property="regDate" />
		<result column="REG_MENU" property="regMenu" />
		<result column="MOD_ID" property="modId" />
		<result column="MOD_DATE" property="modDate" />
		<result column="MOD_MENU" property="modMenu" />
		<result column="AP_CODE_NAME" property="apCodeName" />
        <result column="APT_CODE_NAME" property="aptCodeName" />
        
		<association property="approvalTypeVO"
			javaType="ApprovalTypeVO">
			<id column="APT_APPROVAL_TYPE_NO" property="approvalTypeNo" />
			

		</association>

	</resultMap>
	
	<select id="getTotal" resultType="Long" parameterType="Pager">
	  SELECT COUNT(*)
	    FROM APPROVAL
	   WHERE <include refid="searchApp"></include>
		LIKE CONCAT('%',#{search},'%')
	</select>

    
    <select id="getMyList" resultType="ApprovalVO" parameterType="Map">
SELECT *,APT.APPROVAL_TYPE_NO AS
		APT_APPROVAL_TYPE_NO,
		FN_CODE_NM(LEFT((APPROVAL_STATUS_CD),3),APPROVAL_STATUS_CD) AS
		AP_CODE_NAME,
		FN_CODE_NM(LEFT((APPROVAL_TYPE_CD),3),APPROVAL_TYPE_CD) AS
		APT_CODE_NAME,
		FN_DEPT_NM(LAST_APPROVER) AS LAST_APPROVER_NAME
		FROM APPROVAL A LEFT OUTER JOIN APPROVAL_TYPE APT
		ON A.APPROVAL_TYPE_NO=APT.APPROVAL_TYPE_NO
		WHERE <include refid="searchApp"></include>
		LIKE CONCAT('%',#{pager.search},'%')
        AND <include refid="myList"></include>
   		ORDER BY A.APPROVAL_NO DESC
		LIMIT #{pager.startRow},#{pager.lastRow} 
    </select>
    
    <select id="getMyTotal" resultType="Long" parameterType="Map">
	  SELECT COUNT(*)
	    FROM APPROVAL A
	   WHERE <include refid="searchApp"></include>
		LIKE CONCAT('%',#{pager.search},'%') AND <include refid="myList"></include> 
	</select>
    
    
    

<select id="getStatusList" resultType="ApprovalVO"
		parameterType="Map">
		SELECT *,A.APPROVAL_TYPE_NO AS A_APPROVAL_TYPE_NO,
		APT.APPROVAL_TYPE_NO AS
		APT_APPROVAL_TYPE_NO,
		FN_CODE_NM(LEFT((A.APPROVAL_STATUS_CD),3),A.APPROVAL_STATUS_CD) AS
		AP_CODE_NAME,
		FN_CODE_NM(LEFT((APT.APPROVAL_TYPE_CD),3),APT.APPROVAL_TYPE_CD) AS
		APT_CODE_NAME,
		FN_DEPT_NM(LAST_APPROVER) AS LAST_APPROVER_NAME
		FROM APPROVAL A LEFT OUTER JOIN APPROVAL_TYPE APT
		ON
		A.APPROVAL_TYPE_NO=APT.APPROVAL_TYPE_NO
		WHERE A.APPROVAL_STATUS_CD=#{vo.approvalStatusCd}
		AND <include refid="searchApp"></include>
		LIKE CONCAT('%',#{pager.search},'%')
		AND <include refid="myList"></include>
		ORDER BY A.APPROVAL_NO DESC
		LIMIT #{pager.startRow},#{pager.lastRow}	
	</select>



    <select id="getStatusTotal" resultType="Long" parameterType="Map">
	  SELECT COUNT(*)
	    FROM APPROVAL A
	   WHERE APPROVAL_STATUS_CD=#{approvalStatusCd}
	   AND <include refid="searchApp"></include>
		LIKE CONCAT('%',#{pager.search},'%')
	   AND <include refid="myList"></include>
	</select>
	
	<select id="getStatusAdminList" resultType="ApprovalVO"
		parameterType="Map">
		SELECT *,A.APPROVAL_TYPE_NO AS A_APPROVAL_TYPE_NO,
		APT.APPROVAL_TYPE_NO AS
		APT_APPROVAL_TYPE_NO,
		FN_CODE_NM(LEFT((A.APPROVAL_STATUS_CD),3),A.APPROVAL_STATUS_CD) AS
		AP_CODE_NAME,
		FN_CODE_NM(LEFT((APT.APPROVAL_TYPE_CD),3),APT.APPROVAL_TYPE_CD) AS
		APT_CODE_NAME,
		FN_DEPT_NM(LAST_APPROVER) AS LAST_APPROVER_NAME
		FROM APPROVAL A LEFT OUTER JOIN APPROVAL_TYPE APT
		ON
		A.APPROVAL_TYPE_NO=APT.APPROVAL_TYPE_NO
		WHERE A.APPROVAL_STATUS_CD=#{vo.approvalStatusCd}
		ORDER BY APPROVAL_NO DESC
		LIMIT
		#{pager.startRow},#{pager.lastRow}	
	</select>
	
	<select id="getStatusAdmin" resultType="Long" parameterType="ApprovalVO">
	  SELECT COUNT(*)
	    FROM APPROVAL
	   WHERE APPROVAL_STATUS_CD=#{approvalStatusCd}
	</select>
	
	
	
	
	

	<select id="getDetail" resultMap="getDetailResult"
		parameterType="ApprovalVO">
		SELECT *,A.APPROVAL_TYPE_NO AS A_APPROVAL_TYPE_NO,
		APT.APPROVAL_TYPE_NO AS
		APT_APPROVAL_TYPE_NO,
		FN_CODE_NM(LEFT((A.APPROVAL_STATUS_CD),3),A.APPROVAL_STATUS_CD) AS
		A_CODE_NAME,
		FN_CODE_NM(LEFT((APT.APPROVAL_TYPE_CD),3),APT.APPROVAL_TYPE_CD) AS
		APT_CODE_NAME,
		FN_DEPT_NM(MID_APPROVER) AS MID_APPROVER_NAME,
		FN_DEPT_NM(ADD_APPROVER) AS ADD_APPROVER_NAME,
		FN_DEPT_NM(LAST_APPROVER) AS LAST_APPROVER_NAME
		FROM APPROVAL A LEFT OUTER JOIN APPROVAL_TYPE APT
		ON
		A.APPROVAL_TYPE_NO=APT.APPROVAL_TYPE_NO
		WHERE APPROVAL_NO=#{approvalNo}
	</select>

	<resultMap type="ApprovalVO" id="getDetailResult">
		<id column="APPROVAL_NO" property="approvalNo" />
		<result column="EMPLOYEE_ID" property="employeeID" />
		<result column="A_APPROVAL_TYPE_NO" property="approvalTypeNo" />
		<result column="APPROVAL_TITLE" property="approvalTitle" />
		<result column="APPROVAL_CONTENTS" property="approvalContents" />
		<result column="APPROVAL_STATUS_CD" property="approvalStatusCd" />
		<result column="APPROVAL_CHECK_CD" property="approvalCheckCd" />
		<result column="APPROVAL_START_DATE"
			property="approvalStartDate" />
		<result column="APPROVAL_END_DATE" property="approvalEndDate" />
		<result column="DRAFTER" property="drafter" />
		<result column="MID_APPROVER" property="midApprover" />
		<result column="ADD_APPROVER" property="addApprover" />
		<result column="LAST_APPROVER" property="lastApprover" />
		<result column="MID_APPROVER_NAME" property="midApproverName"/>
		<result column="ADD_APPROVER_NAME" property="addApproverName"/>
		<result column="LAST_APPROVER_NAME" property="lastApproverName"/>
		<result column="ADMONITION" property="admonition" />
		<result column="REG_ID" property="regId" />
		<result column="REG_DATE" property="regDate" />
		<result column="REG_MENU" property="regMenu" />
		<result column="MOD_ID" property="modId" />
		<result column="MOD_DATE" property="modDate" />
		<result column="MOD_MENU" property="modMenu" />
		<result column="A_CODE_NAME" property="codeName" />

		<association property="approvalTypeVO"
			javaType="ApprovalTypeVO">
			<id column="APT_APPROVAL_TYPE_NO" property="approvalTypeNo" />
			<result column="APT_CODE_NAME" property="codeName" />

		</association>

	</resultMap>

	<delete id="setDelete" parameterType="ApprovalVO">
		DELETE FROM APPROVAL
		WHERE
		APPROVAL_NO=#{approvalNo}
	</delete>


	<select id="getTeamList" resultMap="teamList"
		parameterType="HumanResourceVO">
		SELECT
		*,FN_CODE_NM(LEFT(POSITION_CD,3),POSITION_CD) AS
		P_CODE_NAME,
		FN_CODE_NM(LEFT(DEPARTMENT_CD,3),DEPARTMENT_CD) AS
		D_CODE_NAME
		FROM HUMAN_RESOURCE HR
		WHERE
		HR.DEPARTMENT_CD=#{departmentCd}
	</select>

	<resultMap type="HumanResourceVO" id="teamList">
		<id column="EMPLOYEE_ID" property="employeeID" />
		<result column="JOIN_DATE" property="joinDate" />
		<result column="JOIN_TYPE" property="joinType" />
		<result column="NAME" property="name" />
		<result column="BIRTH" property="birth" />
		<result column="D_CODE_NAME" property="departmentCd" />
		<result column="P_CODE_NAME" property="positionCd" />
		<result column="PHONE" property="phone" />
		<result column="EMAIL" property="email" />
		<result column="ADDRESS" property="address" />
		<result column="BANK" property="bank" />
		<result column="ACCOUNT_NUMBER" property="accountNumber" />
		<result column="ACCOUNT_HOLDER" property="accountHolder" />
		<result column="SIGNATURE" property="signature" />
		<result column="QUIT_DATE" property="quitDate" />
		<result column="QUIT_REASON" property="quitReason" />
		<result column="REG_ID" property="regId" />
		<result column="REG_DATE" property="regDate" />
		<result column="REG_MENU" property="regMenu" />
		<result column="MOD_ID" property="modId" />
		<result column="MOD_DATE" property="modDate" />
		<result column="MOD_MENU" property="modMenu" />

	</resultMap>

	<insert id="setAdd" parameterType="ApprovalVO">
		INSERT INTO
		APPROVAL(APPROVAL_NO,EMPLOYEE_ID,APPROVAL_TYPE_NO,
		APPROVAL_TITLE,APPROVAL_CONTENTS,APPROVAL_STATUS_CD, APPROVAL_CHECK_CD,
		APPROVAL_START_DATE,APPROVAL_END_DATE,DRAFTER,MID_APPROVER,
		ADD_APPROVER,LAST_APPROVER,ADMONITION,REG_ID,REG_DATE,
		REG_MENU,MOD_ID,MOD_DATE,MOD_MENU)
		VALUES
		(#{approvalNo},#{employeeID},#{approvalTypeNo},#{approvalTitle}
		,#{approvalContents},#{approvalStatusCd},'R041',NOW(),NULL,#{drafter},
		#{midApprover},#{addApprover},#{lastApprover},NULL,
		#{regId},NOW(),#{regMenu},#{modId},NOW(),#{modMenu})
	</insert>

	<update id="setUpdate" parameterType="ApprovalVO">
		UPDATE APPROVAL
		SET APPROVAL_TITLE=#{approvalTitle},MID_APPROVER=#{midApprover},
		ADD_APPROVER=#{addApprover},LAST_APPROVER=#{lastApprover},
		APPROVAL_CONTENTS=#{approvalContents},
		APPROVAL_TYPE_NO=#{approvalTypeNo},APPROVAL_STATUS_CD=#{approvalStatusCd},
		ADMONITION=#{admonition},
		MOD_ID=#{modId},MOD_DATE=NOW(),MOD_MENU=#{modMenu}
		WHERE APPROVAL_NO=#{approvalNo}
	</update>

	<!-- 결재 종료시 -->
	<update id="setEndUpdate" parameterType="ApprovalVO">
		UPDATE APPROVAL
		SET
		APPROVAL_END_DATE=#{approvalEndDate},
		MOD_ID=#{modId},MOD_DATE=NOW(),MOD_MENU=#{modMenu}
		WHERE
		APPROVAL_NO=#{approvalNo}
	</update>

	<!-- 첨언 추가 -->
	<update id="setOneUpdate" parameterType="ApprovalVO">
		UPDATE APPROVAL
		SET
		ADMONITION=#{admonition},
		MOD_ID=#{modId},MOD_DATE=NOW(),MOD_MENU=#{modMenu}
		WHERE
		APPROVAL_NO=#{approvalNo}
	</update>
	
	<!-- 결재 상세에서 검토 시 -->
	<update id="setCheck" parameterType="ApprovalVO">
	    UPDATE APPROVAL
		SET APPROVAL_STATUS_CD=#{approvalStatusCd},APPROVAL_CHECK_CD=#{approvalCheckCd},
		ADMONITION=#{admonition}, APPROVAL_CONTENTS=#{approvalContents},
		MOD_ID=#{modId},MOD_DATE=NOW(),MOD_MENU=#{modMenu}
		WHERE
		APPROVAL_NO=#{approvalNo}
	</update>
	
	<!-- 결재 상세에서 검토 완료 시 -->
	<update id="setEndCheck" parameterType="ApprovalVO">
	    UPDATE APPROVAL
		SET APPROVAL_STATUS_CD=#{approvalStatusCd},APPROVAL_END_DATE=NOW(),
		APPROVAL_CHECK_CD=#{approvalCheckCd},ADMONITION=#{admonition}, 
		APPROVAL_CONTENTS=#{approvalContents},
		MOD_ID=#{modId},MOD_DATE=NOW(),MOD_MENU=#{modMenu}
		WHERE
		APPROVAL_NO=#{approvalNo}
	</update>
	
	<!-- 결재 상세에서 반려 시 -->
	<update id="setReject" parameterType="ApprovalVO">
	    UPDATE APPROVAL
		SET APPROVAL_STATUS_CD='R034',
		ADMONITION=#{admonition}, APPROVAL_CONTENTS=#{approvalContents},
		MOD_ID=#{modId},MOD_DATE=NOW(),MOD_MENU=#{modMenu}
		WHERE
		APPROVAL_NO=#{approvalNo}
	</update>
	
	<!-- 서명 시 -->
	<select id="getSignTime" parameterType="Map" resultType="ApprovalVO">
	    SELECT NOW() AS SIGN_TIME,FN_DEPT_NM(#{id.employeeID}) AS DEPT_NAME
		  FROM DUAL
	</select>
	
	<select id="getMySignTime" parameterType="ApprovalVO" resultType="ApprovalVO">
	    SELECT *,FN_DEPT_NM(EMPLOYEE_ID) AS DEPT_NAME
		  FROM DUAL
	</select>
	

	<select id="getSearch" resultMap="searchTeamList"
		parameterType="Pager">
		SELECT
		*,FN_CODE_NM(LEFT(POSITION_CD,3),POSITION_CD) AS
		P_CODE_NAME,
		FN_CODE_NM(LEFT(DEPARTMENT_CD,3),DEPARTMENT_CD) AS
		D_CODE_NAME
		FROM HUMAN_RESOURCE
		WHERE NAME LIKE CONCAT('%',#{search},'%')
	</select>
	
	<resultMap type="HumanResourceVO" id="searchTeamList">
		<id column="EMPLOYEE_ID" property="employeeID" />
		<result column="JOIN_DATE" property="joinDate" />
		<result column="JOIN_TYPE" property="joinType" />
		<result column="NAME" property="name" />
		<result column="BIRTH" property="birth" />
		<result column="D_CODE_NAME" property="departmentCd" />
		<result column="P_CODE_NAME" property="positionCd" />
		<result column="PHONE" property="phone" />
		<result column="EMAIL" property="email" />
		<result column="ADDRESS" property="address" />
		<result column="BANK" property="bank" />
		<result column="ACCOUNT_NUMBER" property="accountNumber" />
		<result column="ACCOUNT_HOLDER" property="accountHolder" />
		<result column="SIGNATURE" property="signature" />
		<result column="QUIT_DATE" property="quitDate" />
		<result column="QUIT_REASON" property="quitReason" />
		<result column="REG_ID" property="regId" />
		<result column="REG_DATE" property="regDate" />
		<result column="REG_MENU" property="regMenu" />
		<result column="MOD_ID" property="modId" />
		<result column="MOD_DATE" property="modDate" />
		<result column="MOD_MENU" property="modMenu" />

	</resultMap>
	
	
	
<!-- <sql id="appTypeSearch">
<choose>
  <when test="kind==1"></when>
  <otherwise>FN_CODE_NM(LEFT(APPROVAL_TYPE_CD,3),APPROVAL_TYPE_CD) LIKE '%휴%'</otherwise>
</choose>
</sql>	

	<select id="getAppTypeByName" parameterType="ApprovalVO" resultType="A">
	   SELECT *,FN_CODE_NM(LEFT(APPROVAL_TYPE_CD,3),APPROVAL_TYPE_CD)
  FROM APPROVAL_TYPE AT INNER JOIN APPROVAL_UP_TYPE AUT
    ON AT.APPROVAL_UP_TYPE_NO=AUT.APPROVAL_UP_TYPE_NO
 WHERE
	</select> -->
	

	
</mapper>