@charset "UTF-8";

*{
	box-sizing:border-box;
}

p{
	margin:0px;
}

i{
	font-style:unset;
}

#cur_date{
	font-size:13px;
	color:#888;
}

#cur_time{
	margin-bottom:10px;
	text-align:center;
	font-size:42px;
	color:#5E5E5E;
}

.attendance_time > i{
	font-size:13px; font-weight:600;
	color:#333;
}

.attendance_time > span{
	float:right;
	font-size:13px;
	color:#666;
}

#end_time{
	margin-bottom:10px;
}

#attendance_btn{
	padding:15px 0px;
	border-top:1px dashed;
	border-color:#B7B7B7;
}

#attendance_btn > button{
	width:calc(50% - 5px); height:42px;
	border-radius:25px;
	background-color:white;
}

#attendance_btn.on > button{
	border:1px solid #A65FFF;
	color:#A65FFF;
}

#attendance_btn.on > button:hover{
	background-color:#F2E8FF;
}

#attendance_btn.off > button{
	border:1px solid #CDCDCD;
	color:#CDCDCD;
	cursor:unset;
}





#title{
	margin-bottom:20px;
	font-size:22px; font-weight:bold;
}

#move_month{
	margin-bottom:50px;
	text-align:center;
}

#move_month > i{
	vertical-align:middle;
	font-size:30px;
	cursor:pointer;
}

#move_month > h2{
	display:inline-block;
	margin:0px 15px;
	vertical-align:middle;
	font-size:30px;
}

#total{
	height:120px;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
	border:1px solid #B7B7B7;
}

#total > .dividing{
	height:50%;
	display:inline-block;
	margin:0px 100px;
	border-left:1px solid #B7B7B7;
}

#total > .wrap{
	display:inline-block;
	overflow:hidden;
}

#total > .wrap > .component{
	float:left;
}

#total > .wrap > .component:nth-of-type(2){
	margin-left:100px;
}

.component > h3{
	font-size:14px; font-weight:600;
	text-align:center;
}

.component > .time{
	font-size:25px;
	color:#A65FFF;
}

.component > .time > span:not(:last-of-type){
	padding-right:7px;
}




#weeksOfMonth{
	
}

#weeksOfMonth > ul{
	list-style:none;
}

.week img{
	width:13px;
	vertical-align:middle;
	margin-right:10px;
	cursor:pointer;
}

.week > img.open{
	content:url("/images/attendance/up_arrow.png");
}

.week > img.close{
	content:url("/images/attendance/down_arrow.png");
}

.week h3{
	display:inline-block;
	vertical-align:middle;
	margin:0px;
	font-size:17px; font-weight:600;
}

.week > img.open ~ table{
	display:table;
}

.week > img.close ~ table{
	display:none;
}

.week > table{
	width:100%;
}

table tr:has(th){
	border-bottom:1px solid #B7B7B7;
}

table th, table td{
	padding:0px 40px;
}