@charset "UTF-8";

#wrapper{
	text-align:center;
}

#wrapper > img{
	width:150px;
}

#wrapper > header{
	display:inline-block;
	text-align:left;
}

header > h1{
	color:cornflowerblue;
}

header ul > li{
	font-size:15px;
}

header ul > li:last-of-type{
	list-style:none;
}



form{
	margin-top:20px;
}

form > div{
	width:25%;
	display:inline-block;
	margin-bottom:30px;
	text-align:left;
}

form input[type="password"]{
	width:100%; height:50px;
	padding-left:10px;
	border:none; border-radius:5px;
	font-size:14px;
}

form span{
	display:inline-block;
	margin-top:5px;
	font-size:13px;
	color:red;
}

form > button{
	width:25%; height:50px; 
	border:none; border-radius:5px;
	background-color:#3C9CE7;
	font-size:20px; font-weight:600;
	color:white;
}