<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ham.len.workorder.WorkOrderDAO">

   <select id="getList" resultType="WorkOrderVO" parameterType="Pager">
        SELECT * 
          FROM WORK_ORDER_MANAGEMENT
         ORDER BY WORK_ORDER_NO DESC
         LIMIT #{startRow},#{lastRow}
   </select>
   
   
   
   

</mapper>