<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ham.len.materialProduct.MaterialProductDAO">
	
	<sql id="searchMat">
		<choose>
		  <when test="kind=='code'">M.MATERIAL_PRODUCT_CD</when>
		  <when test="kind=='name'">C.CODE_NAME</when>
		  <otherwise>MATERIAL_PRODUCT_CATEGORY</otherwise>
		</choose>
	</sql>
	
	 <select id="getTotal" parameterType="Pager" resultType="Long">
  		SELECT COUNT(MATERIAL_PRODUCT_NO) FROM 
  		MATERIAL_PRODUCT M LEFT OUTER JOIN CODE C
  		ON M.MATERIAL_PRODUCT_CD = C.CODE
  		WHERE <include refid="searchMat"></include>
  		LIKE CONCAT('%',#{search},'%')
  	</select>

	<select id="getList" resultType="MaterialProductVO" parameterType="Pager">
		SELECT M.*, C.* FROM 
		MATERIAL_PRODUCT M LEFT OUTER JOIN CODE C 
		ON M.MATERIAL_PRODUCT_CD = C.CODE 
		WHERE <include refid="searchMat"></include>
		LIKE CONCAT('%',#{search},'%')
		ORDER BY CODE DESC		
        LIMIT #{startRow},#{lastRow}
	</select>
	
	<select id="getList2" resultType="MaterialProductVO">
		SELECT M.*, C.* FROM 
		MATERIAL_PRODUCT M LEFT OUTER JOIN CODE C 
		ON M.MATERIAL_PRODUCT_CD = C.CODE 
	</select>
	
	
   
	<insert id="add" parameterType="MaterialProductVO" useGeneratedKeys="true" keyProperty="materialProductNo">
  		INSERT INTO MATERIAL_PRODUCT
  		VALUES (NULL, #{employeeId}, #{materialProductCd},  #{materialProductPrice}, #{materialProductUse},
  		#{materialProductStock}, #{materialProductCategory}, #{regId}, NOW() , #{regMenu}, #{modId}, NOW(), #{modMenu})  	
	</insert>

	<update id="setUpdate" parameterType="MaterialProductVO">
  		UPDATE MATERIAL_PRODUCT
  		SET MATERIAL_PRODUCT_PRICE = #{materialProductPrice},
  		MATERIAL_PRODUCT_USE = #{materialProductUse},
  		MATERIAL_PRODUCT_STOCK = #{materialProductStock},
  		MATERIAL_PRODUCT_CATEGORY =  #{materialProductCategory},
  		MOD_ID=#{modId},MOD_DATE=NOW(),MOD_MENU=#{modMenu}
  		WHERE MATERIAL_PRODUCT_CD = #{materialProductCd}  	
  	</update>
  	

  	<delete id="setDelete" parameterType="MaterialProductVO">
		DELETE FROM MATERIAL_PRODUCT
		WHERE MATERIAL_PRODUCT_CD = #{materialProductCd} 
	</delete>
  	
   	<select id="getDetail" parameterType="MaterialProductVO" resultType="MaterialProductVO">
  		SELECT M.*, C.* FROM 
		MATERIAL_PRODUCT M LEFT OUTER JOIN CODE C 
		ON M.MATERIAL_PRODUCT_CD = C.CODE 
		WHERE M.MATERIAL_PRODUCT_CD = #{materialProductCd}
  	</select>

	<select id="getMaterialCheck" resultType="Long" parameterType="MaterialProductVO">
         SELECT COUNT(*)
           FROM MATERIAL_PRODUCT
          WHERE MATERIAL_PRODUCT_CD = #{materialProductCd}
    </select>

</mapper>